[submodule "ReClass.NET"]
	path = ReClass.NET
	url = https://github.com/ReClassNET/ReClass.NET.git
[submodule "BlobRunner"]
	path = BlobRunner
	url = https://github.com/OALabs/BlobRunner.git
[submodule "JITCall/asmjit"]
	path = JITCall/asmjit
	url = https://github.com/asmjit/asmjit.git/
