[submodule "ReClass.NET"]
	path = ReClass.NET
	url = https://github.com/ReClassNET/ReClass.NET.git
[submodule "BlobRunner"]
	path = BlobRunner
	url = https://github.com/OALabs/BlobRunner.git
[submodule "JITCall/asmjit"]
	path = JITCall/asmjit
	url = https://github.com/asmjit/asmjit.git/
[submodule "IdaScripts/plugins/capa"]
	path = IdaScripts/plugins/capa
	url = https://github.com/fireeye/capa.git
[submodule "IdaScripts/plugins/HexRaysPyTools"]
	path = IdaScripts/plugins/HexRaysPyTools
	url = https://github.com/igogo-x86/HexRaysPyTools.git
[submodule "IdaScripts/plugins/IDAFuzzy"]
	path = IdaScripts/plugins/IDAFuzzy
	url = https://github.com/Ga-ryo/IDAFuzzy.git
